{
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [
    ".eslintrc",
    "vite.config.ts"
  ],
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "": "never",
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "max-len": [
      "error",
      {
        "code": 200
      }
    ],
    "no-console": "off",
    "react/prefer-stateless-function": "error",
    "react/require-default-props": "off"
  }
}